body{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Ubuntu', sans-serif;
}

.blogs_section {
position: relative;
padding: 50px 0;
}

.blogs_section .title_strip {
margin: 0 0 30px;
}
/*ul.list_type_5 li {  min-height: 80px;}*/

.blogs_section .title_strip h2 {
background:#fff;
font-size:28px;
color:#000;
font-weight:700;
text-transform: uppercase;
letter-spacing: 0;
position: relative;
text-decoration: none;
padding:0 0 5px;
display:inline-block;
margin:0 0;
}

.blogs_section .title_strip h2:after {
content:'';
position: absolute;
bottom:0;
left: 0;
width:100px;
height: 2px;
background: #ff5200;
}

.blogs_section ul {
margin: 0 0 30px;
padding: 0;
list-style: none;
}

.blogs_section ul li{
position: relative;
padding: 8px;
border: 1px solid #e6e6e6;
border-radius: 4px;
width: 100%;
max-width: 360px;
float: left;
margin: 0 0 30px;
}

.blogs_section ul li:nth-child(3n-1){
margin-left: 2.6%;
margin-right: 2.6%;
}

.blogs_section ul li .blogFeaturedImg{
height: 160px;
width:100%;
overflow: hidden;
position: relative;
}

.blogs_section ul li .blogFeaturedImg img{
object-fit: cover;
height: 100%;
width: 100%;
}

.blogs_section ul li .blogContent {
padding: 20px 0;
}

.blogs_section ul li .blogContent h3 {
margin: 0 0 10px;
font-size: 22px;
font-weight: 500;
color: #000;
letter-spacing: 0;
}

.blogs_section ul li .blogContent p {
font-weight: 400;
color: #000;
font-size: 16px;
letter-spacing: 0;
}

.blogs_section ul li .blogContent .readMore_btn {
display: inline-block;
padding: 6px 15px;
text-transform: uppercase;
border: 1px solid;
text-decoration: none;
margin: 10px 0 0;
font-weight: 500;
font-size: 13px;
-webkit-transition: 0.4s;
transition: 0.4s;
color: #000;
background: #fff;
border-color: #000;
}

.blogs_section ul li .blogContent .readMore_btn:hover {
-webkit-transition: 0.4s;
transition: 0.4s;
color: #fff;
background: #ff5200;
border-color: #ff5200;
}

.view_all_blogs {
text-align: right;
width: 100%;
position: relative;
overflow: hidden;
margin: 0 0 30px;
}

.view_all_blogs a{
display: inline-block;
padding: 10px 15px;
text-transform: uppercase;
border: 1px solid;
text-decoration: none;
margin: 10px 0 0;
font-weight: 500;
font-size: 14px;
-webkit-transition: 0.4s;
transition: 0.4s;
color: #fff;
background: #ff5200;
border-color: #ff5200;
}

@media (max-width:1199px) {
.blogs_section ul li {
max-width: 297px;
}
}

@media (max-width:991px){
/*.blogs_section ul li {
max-width: 340px;
}*/
.blogs_section ul li:nth-child(3n-1) {
margin-left: auto;
margin-right: auto;
}
.blogs_section ul li:nth-child(2n-1) {
margin-right: 5%;
}

}


@media (max-width:767px) {
.blogs_section ul li:nth-child(2n-1) {
margin-right:auto;
}
.blogs_section ul li{
margin: 0 auto 30px;
float: none;
}
.view_all_blogs {
text-align: center;
}
}