/*for industry-specific-solutions*/

.casesforfmcg .iconImages img {width: 30px; margin-right: 5px;}
.healthcarecount .fmcgmainSection .col-md-5 {padding-top: 4%;}
.healthcarecount span.retailsell {line-height: 36px; font-size: 30px;}
.casestudyCta {padding: 20px 0 10px 0;}
.casestudyCta .col-sm-5 {margin-top: 10px;}
.casestudyCta .col-sm-7 p {padding-top: 15px;}
.casefmcg p span {text-align: center; font-size: 17px; text-transform: none; display: block;}
.verticalDeatils .col-md-4 span, .technicalskills .col-md-6 span {display: block; font-size: 22px; text-align: center; padding-top: 0px; color: #fff; line-height: 32px;}

.mediaandEnter .fmcgmainSection p {text-align: justify;}
.mediaandEnter span.fmcgRetail {text-align: left;}
.verticalspage .fmcgmainSection p {text-align: justify;}
.verticalspage .fmcgmainSection img { box-shadow: 0px 8px 21px 8px rgba(6,6,6,0.08); padding: 2px;}
.innertextcount {position: absolute; z-index: 1; bottom: 0%; text-align: center; left: 0; width: 100%; padding: 10px 2%; background: #629ad5;}
.verticalspage .fmcgmainSection .col-md-5 {padding-top: 0;}
.verticalspage .fmcgmainSection p {padding-bottom: 12px;}
.mediaandEnter .fmcgmainSection .col-md-5 {padding-top: 3%;}
.page-id-18590 #header {box-shadow: 0 0px 3px rgba(0,0,0,0.3);}
.mediaPublishing span.fmcgRetail {line-height: 30px; padding-bottom: 0;}
/*.mediaPublishing  .imgParent {height: 489px !important;}*/
.page-id-18590 .verticals_btm2 {display: none;}
.page-id-18590 .casestudyCta p { font-size: 1.9rem !important;}
.iphonedevCount .technicalskills .col-md-3 {min-height: 338px;}
.iphonedevCount .ser_title_big {padding-top: 10px;}
.iphonedevCount .trustedComp .col-md-6 img {box-shadow: 0px 8px 21px 8px rgba(6,6,6,0.08);
padding: 2px;}
.socioseerSocial .androidOuter {margin: 35px 0 35px 0; background: none;}
.socioseerSocial .androidOuter p {text-align: justify;}
.socioseerSocial .androidOuter h3, .technologiesApplid h3 { color: #ff5200; font-weight: normal;}
.socioseerSocial .androidOuter img {width: 100%; margin-top: 30px;}
.socioseerSocial .challenges {margin: 42px 0;}
.technologiesApplid {margin: 42px 0; clear: both; overflow: hidden;}
.challenges  img {margin-top: 10px !important;}
.challenges .first {padding-left: 0; padding-right: 0;}
.clr {clear: both;}
.challengeListing li {background: url(../images/chkbox-icon.png) no-repeat left top; padding-left: 32px;}
.challenges .col-sm-12 {padding-left: 0;}
.technologiesApplid img {border: solid 1px #eee; padding: 2px; margin-top: 10px !important;}
.technologiesApplid ul {padding: 20px 0 0 0;}
.technologiesApplid ul li {float: left; background: url(../images/chkbox-icon.png) no-repeat left top; padding-left: 36px; width: 33%;}
.keyfeatures li {margin-bottom: 15px;}
.outcomesCount img {box-shadow: 0px 8px 21px 8px rgba(6,6,6,0.08);}
.outcomsImg img {width: 100%; box-shadow: 0px 8px 21px 8px rgba(6,6,6,0.08); padding: 2px; border: solid 1px #eee;}


.verticalInner .textCount p {color: #000;}
.verticalInner .textCount span {font-size: 17px; font-weight: bold;}
.verticalInner .textCount span.subheading{color: #ff5200;}
.verticalInner p {font-size: 15px; line-height: 23px;}
.verticalInner img {float: left; width: 211px;  margin-right: 20px;   min-height: 140px;}
.verticalInner .textCount {float: left; width: 55%;}
.verticalInner {border: solid 1px #ddd; clear: both; overflow: hidden;  height: auto; padding: 15px; border-radius: 2px;}
.verticalDeatils .col-md-6 {padding: 0; width: 48%; margin-left: 20px; margin-bottom: 20px;}
.ndustry-specificbanner .innercount span {line-height: 44px; font-size: 33px;}
.ndustry-specificbanner .innercount {padding: 2%;}
.verticalspage .fmcgmainSection p {padding-top: 35px; text-align: center;}
.verticalDeatils .verticalInner:hover{cursor: pointer;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    background: #fff;  transition: .5s all; border: solid 1px #fff;}
.techuseforTravel span.iconImages{margin-right: 8px;}
.casesforfmcg .explore_block h3 {padding-bottom: 8px;}
.techuseforTravel .explore_block h3 {font-size: 20px; padding-bottom: 0;}
.techuseforTravel .explore_block  p {text-align: left !important;}
.socialengineDev img {width: 100%;}
.socialengineDev {box-shadow: 0px 1px 6px 3px rgba(6,6,6,0.08);  cursor: pointer; padding: 3px; position: relative; margin-bottom: 30px;}
.socialengineDev .innerSection {position: absolute; background: rgba(0,0,0,0.5); color: #fff; padding: 10px; text-align: center; width: 98%; bottom: 3px; font-size: 19px;}
.travelbtmRight {margin-top: 58px;}
.travelbtmRight span {display: block; padding-bottom: 20px; font-size: 20px;}
.innerSection span {width: 64px; height: 64px; display: inline-block;}
.casefmcg .col-md-4 p {text-align: center;}
.whychoosefmcg img {margin-top: 57px; height: 302px;}
.retailSegmentsN .col-md-5 img {min-height: 280px;}
.page-id-18346 .verticals_btm2 {display: none;}
.verticalInner a {color: #ff5200;}
.page-id-208 .verticals_btm2 {display: none;}
.healthcarecount .retailSegments img {height: auto; margin-top: 6px; border-radius: 4px;}
.page-id-18338 .verticals_btm2 {display: none;}
.real-estate-technologyList ul {padding-top: 7px;}
.real-estate-technologyList ul li {padding-bottom: 4px;}
.page-id-18299 .verticals_btm2 {display: none;}
.whychoosefmcg .col-md-6 img {padding: 0; margin-top: 78px; border-radius: 4px;}
.manufacturing .imgParent {height: 515px;}
.manufacturingwhy img {height: 279px;}
.bfsiContainer .imgParent {height: 378px;}
.industryQueryform form {
width:100%;
max-width:700px;
margin:0 auto;
}
.industryQueryform {
    margin: 25px 0 0 0;
    padding: 25px 0 50px;
    text-align: center;
}
.industryQueryform h3 {color: #000; font-size: 26px; margin-bottom: 10px;}
.industryQueryform span {font-size: 18px;}
.industryQueryform p {font-size: 17px; margin-top: 5px;}
.industryQueryform .form-group {
    float: left;
    width: 50%;
    margin-right: 0;
    margin-bottom: 35px;
    margin-left: 0;
    padding: 0 15px;
}

 .our-clients {
    padding-top: 50px;
    padding-bottom: 40px;
    border-top: 1px solid #e4e4e4;
}
.our-clients.no-border {border-top: 0px solid #e4e4e4;}
.our-clients.no-border .bx-wrapper .bx-controls-direction {display: block;}

.our-clients .section_heading {
font-size:26px;
color:#000;
}

.industryQueryform .form-group input, .industryQueryform .form-group select {box-shadow: none; background: #fff; border-radius: 4px; border: none;}
.industryQueryform img.wpcf7-captcha-captcha-3 {padding-top: 10px;}
.industryQueryform .form-group select {width: 100%;}
.industryQueryform .captcha-3 input {width: 85%; margin-right: 0;}
.industryQueryform .sednButton { margin: auto; clear: both; overflow: hidden;  width: 100%;  margin-top: 10px;}
.industryQueryform input::placeholder {color: #777;}
.industryQueryform select option {color: #000;}
.industryQueryform .sednButton input { height: auto;
    background: #ff5200;
    border: none;
    color: #fff;
    padding: 12px 25px;
    text-align: center;
    height: auto;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    border: 2px solid #ff5200;
    border-radius: 25px;
    width: 100%;
    max-width: 160px;
    text-shadow: none;
    top: 0;
}

.industryQueryform  .chooseyourIndus select {width: 100%;}
.industryQueryform .chooseyourindText, .industryQueryform .chooseyourIndus {
    width: 100%;
}
.industryQueryform .chooseyourindText textarea { width: 100%;  border: none; background: none; height: 50px;   }

.industryQueryform .form-group {position: relative; }
.industryQueryform .form-group span {text-align: left; display: block; color: #777; border-bottom: solid 1px #d8d8d8;}
.form-control:focus {border-bottom: solid 1px #000}

.retailSegments .col-md-7 span.topHed {font-weight: bold;}
.whychooseBsfi .col-md-6 img {height: auto;}
.page-id-18437 .verticals_btm2 {display: none;}
.onpagechooseFmcg .col-md-6 img {height: auto;}
.retailSegments .col-md-5 img {border-radius: 4px;}
.ecommercecountMain .imgParent {height: 419px;}
.page-id-18272 .verticals_btm2 {display: none;}
.whychooseecommerce .col-md-6 img {height: auto;}
#wpcf7-f19228-p18356-o1 {margin: 45px 0 35px 0;}
#wpcf7-f19228-p18356-o1 .form-control {font-size: 17px;}
span.wpcf7-not-valid-tip {color: #f00 !important;}
.ndustry-specificbanner {min-height: 450px; position: relative;}
.ndustry-specificbanner::before {content:""; top: 0; position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);}



/*for place holder*/






@media (max-width:1199px) {
    .verticalDeatils .col-md-6 {width: 47%;}
    .verticalInner img {width: 172px; min-height: 121px;}
    .verticalInner .textCount {width: 54%;}
    .verticalInner p {font-size: 14px;}
    .verticalInner {min-height: 217px;}
    .calltoactionfmcg .rightCount {width: 16%;}
    .techuseforTravel .explore_block h3 {font-size: 17px;}
    .casefmcg {text-align: center;}

}
@media (max-width:991px) {
    .verticalInner img {width: 100%;}
    .verticalDeatils .col-md-6 {float: left;}
    .verticalInner .textCount {width: 100%; margin-top: 10px;}
    .verticalInner img {width: 100%; height: 190px;}
    .verticalInner {min-height: 420px;}
    .ndustry-specificbanner .innercount span {font-size: 21px; line-height: 34px;}
    .calltoactionfmcg .rightCount {width: 21%;}
    .whatweoffer .items {height: auto; float: left; width: 50%;}
    .casefmcg img {width: auto !important; height: auto !important; margin-bottom: 20px;}
    .whychoosefmcg .col-md-6 img {height: auto !important; margin: 0;}
    .retailSegments .col-md-5 img {width: auto;}
    .explore_block h3 {font-size: 19px;}
    .industryQueryform .sednButton {width: auto;}
}
@media (max-width:768px) {
    .casefmcg img {margin-bottom: 10px;}
    .calltoactionfmcg .rightCount {width: 100%;}
    .healthcarecount .imgParent {height: auto;}
    .ndustry-specificbanner {min-height: 300px;}
    .verticalInner img {width: 100%; height: auto;}
}
@media (max-width:767px) {
    .industryQueryform p.paragraph_none {
        display: none;
    }
}
@media (max-width:736px) {
.verticalDeatils .col-md-6 {margin-left: 16px;}
/*    .col-md-4:nth-child(3), .col-md-4:nth-child(6), .col-md-4:nth-child(9), .verticalDeatils .col-md-4:nth-child(12), .verticalDeatils .col-md-4:nth-child(15) {margin-right: 0 !important;}*/
}
@media (max-width:680px) {
    .verticalDeatils .col-md-6 {float: left; width: 45%;}
    .ndustry-specificbanner .innercount span {text-align: center; font-size: 22px; line-height: 30px;}
    .calltoactionfmcg .rightCount {width: 100%;}
    .whatweoffer .items {float: none; width: 100%;}
}
@media (max-width:414px) {
    .verticalDeatils .col-md-6 {width: 95%; float: none; margin: auto;}
    .verticalInner {min-height: inherit;}
}
/*for industry-specific-solutions*/



.fmcgmainSection .col-md-5 {padding-top:7%; padding-bottom: 25px; text-align: justify;}
.fmcgmainSection img {width: 100%;}

.whychoosefmcg .row > div:first-child {order: 2;}
.whychoosefmcg .row > div:last-child{order:1; width: 100%; min-height: 300px; background-size: cover; background-position: center; background-repeat: no-repeat;
}
.casesforfmcg .explore_block h3{line-height: 38px;}
.calltoactionfmcg { text-align: center;}
.fmcgmainSection .imgParent{height: auto;}

@media (max-width: 991px){
    section.fmcgmainSection .imgParent{background-image: none !important;}
}
@media (min-width: 992px){
    section.fmcgmainSection .row {   display: flex;  flex-wrap: wrap;}
    section.fmcgmainSection .row > div:last-child{display: flex;}
    .fmcgmainSection .imgParent{background-repeat: no-repeat; background-size: cover; background-position: center; width: 100%}
    .fmcgmainSection .imgParent img{display: none;}
    .calltoactionfmcg{margin-top: 0;}
    .calltoactionfmcg .col-md-3.rightCount{text-align: right; width: 25%;}
    .whychoosefmcg .row > div:first-child {order: 1;}
    .whychoosefmcg .row > div:first-child h3{margin-top: 0;}
    .whychoosefmcg ul{padding-right: 35px;}
    .whychoosefmcg .row > div:last-child{order: 2; width: 50%; min-height: auto; border-radius: 4px;}
    .calltoactionfmcg{text-align: left;}

}

.casefmcg img {box-shadow: 0px 8px 21px 8px rgba(6,6,6,0.08); padding: 2px; width: 100%; max-width: 100%;}
.whychoosefmcg {margin: 30px 0 20px 0;}
.whychoosefmcg h3, .casefmcg h3 {color: #414042; font-size: 24px; padding-bottom: 15px;}
.whychoosefmcg ul {padding-left: 19px;}
.whychoosefmcg ul li {list-style-type: disc;}
.whychoosefmcg h3 span {color: #ff5200;}
.whychoosefmcg .col-md-6 img {width: 100%; padding-top: 20px;}
.calltoactionfmcg .rightCount {float: right; margin-right: 5px; padding-right: 0; }
.casefmcg img {width: 100%;}
.casefmcg .col-md-4 p {font-size: 16px; padding: 10px;}
.casefmcg h3 {text-align: center; font-weight: normal;}
.healthcarecount span.retailsell {line-height: 30px; text-align: left;}
.healthcarecount .retailSegments img{height: 289px;}
.ecommercecount .retailSegments img {height: auto; max-width: 100%;}
.educationCount .fmcgmainSection .col-md-5 {padding-top: 2%;}
.educationCount span.retailsell {font-size: 27px;}
.educationCount span.fmcgRetail  {font-size: 21px;}
.travelhospital span.retailsell {font-size: 30px;}
.verticalspage .fmcgmainSection .col-md-5 {padding-top: 0%;}
.ndustry-specificbanner{box-shadow: 0 0px 3px rgba(0,0,0,0.3);}
.ndustry-specificbanner img {width: 100%;}
.ndustry-specificbanner {position: relative;}
.ndustry-specificbanner .innercount span {display: block; font-size: 36px; line-height: 46px; padding-bottom: 20px;}
.ndustry-specificbanner .innercount {position: absolute; bottom: 0; left: 0; width: 58%; color: #fff; padding:3%; font-size: 24px; line-height: 36px; /*background: #629ad5;*/}
.page-id-18356 .our-clients {padding-top: 50px;}
.page-id-18356 .verticalspage .fmcgmainSection p {font-size: 17px; margin: 0; padding: 45px 0 30px 0; line-height: 28px;}
.bannerbtmtagindu {text-align: center; font-size: 28px; color: #000; padding: 35px 0;}
.verticalspage .imgParent img {height: auto;}
.verticalDeatils .col-md-4 img, .technicalskills .col-md-6 img {width: 100%; box-shadow: 2px 8px 9px rgba(0,0,0,0.3); border-radius: 4px;}
.verticalDeatils .row { display: flex;  display: -webkit-flex;  flex-wrap: wrap;  -webkit-flex-wrap: wrap;}
.verticalDeatils .row > div{display: flex;  display: -webkit-flex;}
.verticalDeatils .col-md-4{display: flex; display: -webkit-flex; transition: all .6s cubic-bezier(0.165,0.84,0.44,1); width: 32%; margin-right: 2%; margin-bottom: 30px;}
.technicalskills .col-md-6{ transition: all .6s cubic-bezier(0.165,0.84,0.44,1); margin-right: 2%; margin-bottom: 30px;}
.verticalDeatils .col-md-4:nth-child(3), .verticalDeatils .col-md-4:nth-child(6), .verticalDeatils .col-md-4:nth-child(9), .verticalDeatils .col-md-4:nth-child(12), .verticalDeatils .col-md-4:nth-child(15) {margin-right: 0;}
.verticalDeatils .col-md-4:hover {box-shadow: 0 10px 30px 5px rgba(0,0,0,0.4);  -webkit-transform: scale(1.01);    transform: scale(1.01);}
.calltoactionfmcg span {font-size: 18px;}
.calltoactionfmcg a {background: #fff; padding: 10px 26px; border-radius: 4px; font-size: 17px;display:inline-block;}
.explore_block{margin-top:40px;}
.explore_block:after{content:"";clear:both;display:block;}
.explore_block h3{background-color:#e0e0e0;font-size:24px;font-weight:normal;margin:0;padding:0 20px;line-height:60px;}
.explore_block p{margin:0;background-color:#f9f9f9;padding:30px 20px 20px;text-align:left;min-height:200px;width:100%;}
.explore_block.even p{margin-left:auto;}
.explore_block.odd .explore_img{float:right;}
.explore_img img{display:block;width:100%;margin:0;}
.casesforfmcg .explore_block p {min-height: 165px;}
.casesforfmcg .explore_block h3 {background-color: inherit; padding-left: 0;}
.whatweoffer .subheading {text-align: center;}
.whatweoffer .subheading h3 {font-size: 28px; text-align: center; padding-top: 25px; font-weight: normal;}
.offers-tabcontent {padding: 25px 15px 40px; clear: both; overflow: hidden; display: flex; display: -webkit-flex flex-wrap: wrap; -webkit-flex-wrap: wrap;}
.whatweoffer {margin: 45px 0;}
.whatweoffer ul li {list-style-type: disc;}
.whatweoffer ul {padding-left: 17px;}
.whatweoffer .items {padding:20px;  position: relative;   background-color: hsla(0,0%,100%,.8);border-right: solid 1px #eee; border-bottom: solid 1px #eee;}
.whatweoffer .items:nth-child(1) {border-top-left-radius: 8px;}
.whatweoffer .items:nth-child(3) {border-top-right-radius: 8px;}
.whatweoffer .items:nth-child(4) {border-bottom-left-radius: 8px;}
.whatweoffer .items:nth-child(6) {border-bottom-right-radius: 8px;}
.whatweoffer .items h3 {font-weight: normal; font-size: 20px; margin-top: 10px;}

